<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}INELUCTABLE{% endblock %}</title>
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        <link href="{{ asset('build/css/home.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {{  render(controller('App\\Controller\\BaseController::menuAction', {'route': app.request.get('_route')} )) }}
        {% block body %}{% endblock %}
        <footer class="bg3 p-t-75 p-b-32">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            Infos
                        </h4>

                        <ul>
                            <li class="p-b-10">
                                <a href="{{ path('about') }}" class="stext-107 cl7 hov-cl1 trans-04">
                                    About
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="mailto:ineluctable.contact@gmail.com" class="stext-107 cl7 hov-cl1 trans-04">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            Customer Service
                        </h4>

                        <ul>
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    Terms & Conditions
                                </a>
                            </li>

                            <li class="p-b-10">
                                <a href="{{ path('faq') }}" class="stext-107 cl7 hov-cl1 trans-04">
                                    FAQs
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            GET IN TOUCH
                        </h4>

                        <div>
                            <a href="https://www.facebook.com/the.ineluctable/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="https://www.instagram.com/the.ineluctable/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            Newsletter
                        </h4>

                        <form>
                            <div class="wrap-input1 w-full p-b-4">
                                <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                                <div class="focus-input1 trans-04"></div>
                            </div>

                            <div class="p-t-18">
                                <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!--<div class="p-t-40">
                    <div class="flex-c-m flex-w p-b-18">
                        <a href="#" class="m-all-1">
                            <img src="{{ asset('images/icons/icon-pay-01.png') }}" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="{{ asset('images/icons/icon-pay-02.png') }}" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="{{ asset('images/icons/icon-pay-03.png') }}" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="{{ asset('images/icons/icon-pay-04.png') }}" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="{{ asset('images/icons/icon-pay-05.png') }}" alt="ICON-PAY">
                        </a>
                    </div>-->
                </div>
            </div>
        </footer>
        <script type=“text/javascript”>var site_url = "{{ absolute_url(path('homepage')) }}";</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('build/js/bootstrap.js') }}"></script>
        <script src="{{ asset('build/js/animsition.js') }}"></script>
        <script src="{{ asset('build/js/popper.js') }}"></script>
        <script src="{{ asset('build/js/daterangepicker.js') }}"></script>
        <script src="{{ asset('build/js/moment.js') }}"></script>
        <script src="{{ asset('build/js/isotope.js') }}"></script>
        <script src="{{ asset('build/js/jquery-magnific-popup.js') }}"></script>
        <script src="{{ asset('build/js/parallax100.js') }}"></script>
        <script src="{{ asset('build/js/perfect-scrollbar.js') }}"></script>
        <script src="{{ asset('build/js/select2.js') }}"></script>
        <script src="{{ asset('build/js/slick.js') }}"></script>
        <script src="{{ asset('build/js/slick-custom.js') }}"></script>
        {#<script src="{{ asset('build/js/map-custom.js') }}"></script>#}
        <script src="{{ asset('build/js/sweetalert.js') }}"></script>
        <script src="{{ asset('build/js/main.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script type="text/javascript">var site_url = "{{ absolute_url(path('homepage')) }}"</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
