{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/search.css') }}" rel="stylesheet">
    <link href="{{ asset('build/css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Search
        </h2>
    </section>
    <section class="sec-blog bg0 p-t-60">
        <div class="container">
            <div class="p-b-66">
                <h3 class="ltext-105 cl5 txt-center respon1">
                    Results for "<span class="search-word">{{ search }}</span>"
                </h3>
            </div>
            <div class="row">
                {% if products|length or blogs|length %}
                    <p class="search-results">We have founds {{ products|length + blogs|length }} results in product.</p>
                {% else %}
                    <p class="search-results">No Results ...</p>
                {% endif %}
            </div>
        </div>
    </section>
    {% if products|length %}
        <section class="sec-product bg0 p-t-100 p-b-50">
            <div class="container">
                <div class="p-b-32">
                    <h3 class="ltext-105 cl5 txt-center respon1">
                        Products
                    </h3>
                </div>
                <div class="row isotope-grid">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    {% for img in product.gallery.galleryHasMedias %}
                                        {% if loop.index == 1 %}
                                            <img src="{% path img.media, 'big' %}" alt="{{ product.title }}">
                                        {% endif %}
                                    {% endfor %}
                                    {% if product.state|length %}
                                        <span>{{ product.state|upper }}</span>
                                    {% endif %}
                                    <a href="{{ path('product-detail', {id: product.id}) }}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                        Quick View
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="{{ path('product-detail', {id: product.id}) }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            {{ product.title }}
                                        </a>

                                        <span class="stext-105 cl3">
                                            {{ product.price }} €
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="flex-c-m flex-w w-full p-t-45">
                    <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                        See more
                    </a>
                </div>
            </div>
        </section>
    {% endif %}

    {% if blogs|length %}
        <section class="sec-blog bg0 p-t-60 p-b-90">
            <div class="container">
                <div class="p-b-66">
                    <h3 class="ltext-105 cl5 txt-center respon1">
                        Blogs
                    </h3>
                </div>
                <div class="p-r-45 p-r-0-lg">
                    <!-- item blog -->
                    {% for blog in blogs %}
                        <div class="p-b-63">
                            <a href="{{ path('blog-detail', {id : blog.id }) }}" class="hov-img0 how-pos5-parent">
                                <img src="{% path blog.media, 'big' %}" alt="IMG-BLOG" class="blog-img">

                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                            <span class="ltext-107 cl2 txt-center">
                                {{ blog.createdAt|date("d") }}
                            </span>
                                    <span class="stext-109 cl3 txt-center">
                                {{ blog.createdAt|date("M Y") }}
                            </span>
                                </div>
                            </a>

                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="{{ path('blog-detail', {id : blog.id}) }}" class="ltext-108 cl2 hov-cl1 trans-04">
                                        {{ blog.title }}
                                    </a>
                                </h4>

                                <p class="stext-117 cl6">
                                    {{ blog.content|length > 300 ? blog.content|slice(0, 300) ~ ' ...' : blog.content|raw }}
                                </p>

                                <div class="flex-w flex-sb-m p-t-18">
                            <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                <span>
                                    <span class="cl4">By</span> Admin
                                    <span class="cl12 m-l-4 m-r-6">|</span>
                                </span>

                                <span>
                                    {% for tag in blog.tags %}
                                        {{ tag.name }}
                                    {% endfor %}
                                    <span class="cl12 m-l-4 m-r-6">|</span>
                                </span>
                            </span>

                                    <a href="{{ path('blog-detail', {id : blog.id }) }}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Continue Reading

                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="flex-c-m flex-w w-full p-t-45">
                    <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                        See more
                    </a>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}